# getting started

# First run: module load python-3.7.3
# Then run (from within rocks_analysis_pipeline): pip3 install -r requirements.txt
# TODO: Add specific instructions for inside rocks, 
# On 2/19/23 Drew added awkward to this list because this now has to be included in the 
# singularity container for uproot4 to work properly. 

numpy>=1.20.0
pandas>=1.3.5
psycopg2-binary>=2.9.3
pyyaml>=6.0
argparse>=1.1
scikit-learn>=1.0.1
pytz>=2022.4
awkward==1.1.0
uproot4==4.0.0
